<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaft.org">

<head>
	<link rel="stylesheet" th:href="@{/css/boostrap/themes/yeti/bootstrap.css}">
</head>

<body>
	<div class="container d-flex justify-center">
		<div class="alert alert-danger" role="alert">
			<table>
				<tr>
					<td>Date</td>
					<td th:text="${timestamp}" />
				</tr>
				<tr>
					<td>Path</td>
					<td th:text="${path}" />
				</tr>
				<tr>
					<td>Error</td>
					<td th:text="${error}" />
				</tr>
				<tr>
					<td>Status</td>
					<td th:text="${status}" />
				</tr>
				<tr>
					<td>Message</td>
					<td th:text="${message}" />
				</tr>
				<tr>
					<td>Exception</td>
					<td th:text="${exception}" />
				</tr>
				<tr>
					<td>Trace</td>
					<td>
						<pre th:text="${trace}" />
					</td>
				</tr>
			</table>

			<a class="btn btn-primary mt-5 pull-right" th:href="@{'/'}">Ir a la home</a>
		</div>
	</div>
</body>

</html>