<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlsn:th="http://www.thymeleaft.org">

<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--incluir css-->
    <link rel="stylesheet"
          type="text/css"
          media="all"
          th:href="@{/css/site.css}" />
</head>

<body>
<a th:href="@{'/cupon/list'}">ir a listado</a>

<button th:claveEnController="${clave}" th:onclick="clickme(this.getAttribute('claveEnController'))">
    click me
</button>
		
		<!--form-->
		<form th:object="${PERSONA}"
			action="#"
			th:action="@{/home/post}"
			method="post">
			<label>Nombre:</label>
			<input type="text" 
				value="CARLOS"				
				th:field="*{nombre}">
			<button type="submit">
				Enviar
			</button>
		</form>

<script>
    /*
    function clickme() {
        alert('button has been clicked')
    }
    clickme = function() {
        alert('button has been clicked')
    }

    clickme = (valor) => {
        alert(`button has been clicked ${valor}`)
    }
    */
</script>
	<script th:inline="javascript">
    	const username = 'variable fuera de una funcion, cuando se carga la pagina se ejecuta';
    	console.log(username);
	</script>

<script th:src='@{/js/scripts.js}'></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	</body>
</html>