<!-- listar los cupones del sitio -->
<!--namespaces-->
<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
	xmlsn:th="http://www.thymeleaft.org">

<head>
  <!--incluir css-->
  <link rel="stylesheet"
        type="text/css"
        media="all"
        th:href="@{/css/site.css}" />
</head>

<body>
<h1>Hello</h1>

<table>
  <!--titulos de la tabla-->
  <tr>
    <th>
      Col1
    </th>
  </tr>

  <!-- rows -->
  <tr th:each="cupon : ${list}">
    <td th:text="${cupon}">
      vacio
    </td>
  </tr>
</table>
	<hr>
</body>

</html>
