<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org">
	
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/home}">
    	Home
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          	href="#"
          	th:href="@{/cupon/list}">
          	Cupones
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          	href="#"
          	th:href="@{/socio/list}">
          	Socios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          	href="#"
          	th:href="@{/user/new}">
          	Users
          </a>
        </li>
      </ul>
	  <a class="btn btn-danger" href="#"
	  	th:href="@{/logout}">
	  	Logout
	  </a>
    </div>
  </div>
</nav>
</html>