<!-- listar los cupones del sitio -->
<!--namespaces-->
<!DOCTYPE html>
<html lang="es" 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaft.org">

<head>
	<!--incluir css-->
	<link rel="stylesheet" 
		type="text/css" 
		media="all"
		th:href="@{/css/site.css}" />
</head>

<body>
	<h1>Socios</h1>
	<table>
		<!--titulos de la tabla-->
		<tr>	
			<th>ID</th>		
			<th>NOMBRE</th>
			<th>APELLIDO</th>
			<th>CODIGO</th>			
		</tr>
		<!-- rows -->		
		<tr th:each="socio : ${socios}">
			<td th:text="${socio.id}"></td>
			<td th:text="${socio.nombre}"></td>
			<td th:text="${socio.apellido}"></td>
			<td th:text="${socio.codigo}"></td>			
		</tr>
	</table>
</body>

</html>